# Exclude all source files and build artifacts
src/
dist/
__tests__
.github
.vscode
.node_modules
rollup.config.js
tsconfig.json
setupTests.ts

# Include necessary files
index.js
index.d.ts
package.json
